$layout-width-inner: 992px;

$breakpoints: (
  "xs": "screen and (max-width:576px)",
  "md": "screen and (max-width: #{$layout-width-inner - 1px})" "lg":
    "screen and (min-width: #{$layout-width-inner})",
);

@mixin mq($breakpoint: xs) {
  @media #{map-get($breakpoints,$breakpoint)} {
    @content;
  }
}

.news {
  display: inline-block;
  padding: 20px;
  h1 {
    font-family: "Source Serif 4", sans-serif;
    vertical-align: top;
    font-size: 70px;
    @include mq("md");
  }
}
.tips {
  display: inline-block;
  padding: 20px;
  h4 {
    font-family: sans-serif;
    vertical-align: top;
  }
}
