$layout-width-inner: 992px;

$breakpoints: (
  "xs": "screen and (max-width: 576px)",
  "md": "screen and (max-width: #{$layout-width-inner - 1px})",
  "lg": "screen and (min-width:#{$layout-width-inner})",
);

@mixin mq($breakpoint: xs) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

div {
  width: 500px;
  margin-right: auto;
  .title {
    text-align: center;
    @include mq("md") {
      font-size: 20px;
    }
    @include mq("lg") {
      font-size: auto;
    }
  }
  .message {
    text-align: center;
    overflow-wrap: break-word;
  }
}
